/*****************************************
gutter declaration
*****************************************/

$grid-gutter-width: 10px;

/*****************************************
Integrate bootstrap bower etc.
*****************************************/
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*****************************************
Variables
*****************************************/
$white: #fff;
$date-color: #A2A2A2;
$read-red: #B02836;
$box-p-color: #5F5F5F;
$boxer-shadow: 1px 4px 0px #ccc;
$box-h2-color: #3A3B36;
$banner-border: 10px solid white;
$img-border: 5px solid white;
$font-chunk: 'Raleway', sans-serif;
$text-shadower: 1px 1px 1px black;
$input-shadower: inset 2px 2px 1px rgba(128, 128, 128, 0.38);
$button-color: #A63634;
$face-color: #475893;
$wifi-color: #C49245;
$twit-color: #708DC2;
$you-color: #A64134;

/*****************************************
Common Styling
*****************************************/
.wrapper {
  background-image: url("../images/bg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;

}

.overlay-wrap {
  background-color: rgba(0,0,0,.5);
  z-index: -9;
}


img {
  max-width: 100%;
}

.subscribe {
color: $white;
border-right: 1px dotted white;

}



.butter {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  color: rgba($white, .5);
  text-align: center;
  box-shadow: $boxer-shadow;
  margin-bottom: 10px;
  // border-left: 3px dotted white;
  i {
    margin: 18px auto;

    // position:relative;
    // top: 0;
    // left: 0;
  }

}

.button-face {
  background-color: $face-color;
  border-left: 2px dotted white;
}

.button-wifi {
  background-color: $wifi-color;
}

.button-twit {
  background-color: $twit-color;
}

.button-you {
  background-color: $you-color;
}
.top-image {
  height: 360px;
  background-image: url(../images/top-image.png);
  background-position: -265px -160px;
  overflow: hidden;
  position: relative;
  z-index: 28;
  border: $banner-border;
  box-shadow: $boxer-shadow;
}

.overlayimg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 29;
  width: 100%;
  opacity: 0.7;
}

.logo-overlay {
  position: absolute;
  top: 54px;
  left: 24px;
  z-index: 30;
}

.navbar {
  button {
  width: 98%;
  // margin:0 auto;
  }
}

.topbar {
  margin: 2px 0 27px 0px;
}

.three-box {
  background-color: #fff;
  position: relative;
  height: 350px;
  box-shadow: 1px 4px 0px #ccc;
  padding-top: 7px;
  padding-left: 28px;
  padding-right: 29px;
  h2 {
    color: $box-h2-color;
    font-size: 24px;
    text-align: left;
    text-transform: capitalize;
  }
  time {
   color: $date-color;
   font-size: 12px;
  }

  p {
    color: $box-p-color;
    font-size: 10px;
  }
  a {
    color: $read-red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .span-red-read {
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}

// .slider-buttons {
//   display: inline-block;
//   margin: 20px auto;
//     button {
//       border-radius: 50%;
//       box-shadow: $boxer-shadow;
//       background-color: white;
//       width: 20px;
//       height: 20px;
//     }
// }

.slider-buttons {
  margin: 20px;
  text-align: center;
  label {
    margin: 0 10px;
  }
}
.skaters {
  margin-top: 30px;
  h1{
  font-family: $font-chunk;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin: 81px auto;
  // position: absolute;
  // width: 100%;
  // top: 33.3%;
  text-shadow: $text-shadower;
  }
}

.sk81 {
  background-image: url("../images/sk8er-1.png");
  background-position: 1px -95px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 990px ) {
    background-position: 0 -60px;
  }

}
.sk83 {
  background-image: url("../images/sk8er-3.png");
  // background-position: 1px -11px;
  background-repeat: no-repeat;
  background-size: cover;


}
.sk84 {
  background-image: url("../images/sk8er-4.png");
  // background-position: -146px -12px;
  background-repeat: no-repeat;
  background-size: cover;


}
.col-img {
  border: $img-border;
  margin-top: 10px;
  box-shadow: $boxer-shadow;
  height: 233px;
}
.col-img2 {
  @extend .col-img;
}

.tall-img {
  @extend .col-img;
  height: 476px;
  background-image: url("../images/sk8er-2.png");
  // background-position: -424px 1px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 992px ) {
    background-position: -424px 1px;
  }

  h1 {
  margin: 192px auto;
  }
}

.boards {
  border: $img-border;
  box-shadow: $boxer-shadow;
  background-color: $white;
  margin-top: 30px;
  text-align: center;
  img {
    margin: 9px 13px;
  }
}

.contacter {
  font-family: 'Arial', sans-serif;
  color: #777;
  margin: 17px 5px 0px 39px;
  font-size: 20px;
  p {
    font-size: 12px;
    line-height: 25px;
  }

}

.inputer {
  margin: 25px;
}

.submit-forms {
  background-color: $white;
  margin-top: 30px;
  margin-bottom: 45px;
  box-shadow: $boxer-shadow;
}
.text-sub {
  color: #c6c6c6;
  box-shadow: $input-shadower;
  text-transform: uppercase;
  border-radius: none;
}

.input-box {
  @extend .text-sub;
  color: #c6c6c6;
}

.button-face1 {
  @extend .button-face;
  border: none;
  filter:grayscale(1);
}

.button-wifi1 {
  @extend .button-face;
  border: none;
  filter:grayscale(1);
}
.button-twit1 {
  @extend .button-face;
  border: none;
  filter:grayscale(1);
}
.button-you1{
  @extend .button-face;
  border: none;
  filter:grayscale(1);
}
